<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header" style="margin-top: 0;">Especialidades
                <button class="btn btn-success pull-right" ng-click="adminSpecialties.create()"><i class="glyphicon glyphicon-plus"></i>  Crear</button>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Especialidad</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="specialty in adminSpecialties.specialties | orderBy:['specialty','name']">
                        <td>{{specialty.specialty}}</td>
                        <td>{{specialty.name}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="adminSpecialties.edit(specialty)"><i class="glyphicon glyphicon-edit"></i> Editar</button>
                            <button class="btn btn-danger" ng-click="adminSpecialties.delete(specialty)"><i class="glyphicon glyphicon-erase"></i> Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade specialty-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{adminSpecialties.selectedSpecialty.name}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Área:</label>
                        <input type="text" class="form-control" placeholder="Área" ng-model="adminSpecialties.selectedSpecialty.area">
                    </div>
                    <div class="form-group">
                        <label>Número de Contacto:</label>
                        <input type="text" class="form-control" placeholder="Número de Contacto" ng-model="adminSpecialties.selectedSpecialty.contactNum">
                    </div>
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" placeholder="Nombre" ng-model="adminSpecialties.selectedSpecialty.name">
                    </div>
                    <div class="form-group">
                        <label>Especialidad:</label>
                        <input type="text" class="form-control" placeholder="Especialidad" ng-model="adminSpecialties.selectedSpecialty.specialty">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="adminSpecialties.save()">Save changes</button>
            </div>
        </div>
    </div>
</div>