<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="jumbotron wow fadeInUp" id="mainPage">
                <h1>Centro Médico Padre Fantino</h1>
                <img alt="portada" src="/img/cmp_edificio.jpg" />
                <p>Unidos a ti desde antes de nacer</p>
                <p>
                    <a href="#!/acercaDeNosotros" class="btn btn-primary btn-lg">Acerca de nosotros &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Servicios</h2>
            <p>El <strong>Centro Médico Padre Fantino</strong>  ofrece una gama muy amplia de <strong>Servicios</strong> para el cuidado de nuestros pacientes, haz click en el botón de abajo para más información.</p>
            <p><a class="btn btn-default" href="#!/servicios">Leer más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Especialidades</h2>
            <p>A continuación encontraras toda la información de nuestro <strong>Equipo Médico</strong> y de las Áreas de las cuales se encargan.</p>
            <p><a class="btn btn-default" href="#!/especialidades">Leer más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Áreas</h2>
            <p>Haz click aquí para ver nuestra galería de imágenes!</p>
            <p><a class="btn btn-default" href="#!/areas">Leer más &raquo;</a>
            </p>
        </div>
    </div>
</div>
