<div class="equipoGrl col-xs-12 col-sm-12 col-md-12">
    <div class="blog-header">
        <h1 class="blog-title">Noticias y Actividades:</h1>
        <p class="lead blog-description">Su fuente oficial de informaciones.</p>
    </div>
    <div class="row">
        <div class="col-xs-12 blog-main">
            <h3 ng-if="!news.loading && news.newsList.length <= 0" ng-cloak class="ng-cloak">No se ha encontrado ninguna noticia</h3>
            <div class="blog-post wow fadeInUp" ng-repeat="entry in news.newsList">
                <h2 class="blog-post-title">{{entry.title}}</h2>
                <p class="blog-post-meta">{{entry.date | date: 'MMMM d, yyyy'}} by <a href="#">{{entry.author.name}}</a>
                </p>

                <div ng-bind-html="entry.body"></div>
            </div><!-- /.blog-post -->

            <nav><!--Navigations between pages of blog-->
                <ul class="pager">
                    <li><button class="btn btn-primary" ng-click="news.previous()" ng-show="news.page > 0">Noticias Nuevas &laquo;</button></li>
                    <li><button class="btn btn-primary" ng-click="news.next()" ng-show="news.total > ((news.page + 1)* 10)">Noticias Anteriores &raquo;</button></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
