<div class="col-xs-12">
    <h1 class="page-header" style="margin-top: 0;">
        Quiénes Somos
        <button class="btn btn-success pull-right" ng-click="adminAreas.create()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
    </h1>
    <div text-angular ta-toolbar="[['h3','h4','h5','p'],['bold','italics','underline','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'],['html']]" ng-model="htmlVariable"></div>
</div>
