<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu" metis-menu>
<!--            <li class="sidebar-search">-->
<!--                 <div class="input-group custom-search-form">-->
<!--                 <input type="text" class="form-control" placeholder="Search...">-->
<!--                 <span class="input-group-btn">-->
<!--                 <button class="btn btn-default" type="button">-->
<!--                 <i class="glyphicon glyphicon-search"></i>-->
<!--                 </button>-->
<!--                 </span>-->
<!--                 </div>-->
<!--                $1$ /input-group #1#-->
<!--            </li>-->
            <li>
                <a href="#!/admin/servicios" class="active"><i class="glyphicon glyphicon glyphicon-plus"></i> Servicios</a>
            </li>
            <li>
                <a href="#!/admin/especialidades" class="active"><i class="glyphicon glyphicon-star"></i> Especialidades</a>
            </li>
            <li>
                <a href="#!/admin/areas" class="active"><i class="glyphicon glyphicon-picture"></i> Áreas</a>
            </li>
            <li>
                <a href=""><i class="glyphicon  glyphicon-info-sign"></i> Acerca de Nosotros<span class="glyphicon arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="#!/admin/quienes-somos">Quiénes Somos</a>
                    </li>
                    <li>
                        <a href="#!/admin/marco-filosofico">Marco Filosófico</a>
                    </li>
                    <li>
                        <a href="morris.html">Equipo Gerencial</a>
                    </li>
                    <li>
                        <a href="morris.html">Descripción</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="index.html" class="active"><i class="glyphicon glyphicon-pushpin"></i> Noticias y Actividades</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>