<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header" style="margin-top: 0;">Noticia
                <button class="btn btn-default pull-right" ng-click="adminNews.cancel()"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                <button class="btn btn-success pull-right" ng-click="adminNews.save()" style="margin-right: 8px;"><i class="glyphicon glyphicon-plus"></i> Guardar</button>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label>Título:</label>
                    <input type="text" class="form-control" placeholder="Título" ng-model="adminNews.entry.title">
                </div>
                <div class="form-group">
                    <label>Contenido:</label>
                    <div text-angular ta-toolbar="[['h1','h2','h3','h4','p','pre','quote'],['bold','italics','underline','strikeThrough','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'],['fileUpload','insertLink','insertVideo'],['html']]" ng-model="adminNews.entry.body"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div file-uploader-dialog></div>