<div class="col-xs-12">
    <h1 class="page-header" style="margin-top: 0;">
        Áreas
        <button class="btn btn-success pull-right" ng-click="adminAreas.create()"><i class="glyphicon glyphicon-plus"></i> Crear</button>

        <button class="btn btn-danger pull-right margin-right" ng-click="adminAreas.deleteAll()"><i class="glyphicon glyphicon-plus"></i> {{adminAreas.selectedAreas.length > 0 ? 'Borrar ' + adminAreas.selectedAreas.length + ' Imagenes' : 'Borrar Todos'}}</button>
    </h1>
</div>
<div class="col-xs-12">
    <div class="row" style="padding: 0 12px;">
        <div class="col-xs-6 col-md-4" ng-repeat="area in adminAreas.areas">
            <a ng-click="adminAreas.toggle(area)" class="thumbnail admin-thumbnail" style="background-image: url({{area.url}})" ng-class="{'selected': adminAreas.isSelected(area)}">
                <button type="button" class="btn btn-danger pull-right btn-close btn-xs" aria-label="Close" ng-click="adminAreas.delete(area)">
                    <span aria-hidden="true">&times;</span></button>
            </a>
        </div>
    </div>
</div>

<div class="modal fade areas-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Añadir Imagenes</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-3">

                        <h3>Seleccione Imagenes</h3>
                        <input type="file" nv-file-select="" uploader="adminAreas.uploader" multiple /><br />
                    </div>

                    <div class="col-md-9" style="margin-bottom: 40px">
                        <p>Archivos en cola: {{ adminAreas.uploader.queue.length }}</p>
                        <div>
                            <div>
                                Queue progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': adminAreas.uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="adminAreas.uploader.uploadAll()" ng-disabled="!adminAreas.uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="adminAreas.uploader.clearQueue()" ng-disabled="!adminAreas.uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th ng-show="adminAreas.uploader.isHTML5">Tamaño</th>
                                    <th ng-show="adminAreas.uploader.isHTML5">Progreso</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in adminAreas.uploader.queue">
                                    <td>
                                        <strong>{{ item.file.name }}</strong>
                                        <div ng-show="adminAreas.uploader.isHTML5 && !item.isSuccess" ng-thumb="{ file: item._file, width: 150 }"></div>
                                    </td>
                                    <td ng-show="adminAreas.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="adminAreas.uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>