<div id="marcoFilosofico" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
    <h1>Marco filosófico</h1>
    <h3>Nuestra misión</h3>
    <p>Proporcionamos bienestar integral y satisfacción a nuestros clientes, prestando servicios y asistencia en salud, humanizados, con alta calidad técnica y diagnostica, a precios competitivos.</p>
    <h3>Nuestra visión</h3>
    <p>Ser el centro de servicios de salud de atención primaria y especializada, más importante de la región del Cibao, reconocido por su calidad profesional, por la incorporación continua de tecnología vanguardista.</p>
    <h3>Nuestros valores</h3>
    <ul>
        <li>Servicio</li>
        <li>Calidad</li>
        <li>Ética</li>
        <li>Actualización</li>
    </ul>
</div>