<div class="equipoGrl col-xs-12 col-sm-12 col-md-6 col-md-offset-1">
    <div class="row">
        <h2>Nuestros Servicios:</h2>
    </div>
    <div class="row">
        <div ng-repeat="(serviceType, serviceNames) in service.services" class="col-xs-12 servicios">
            <p>
                <strong>{{serviceType}}</strong>
            </p>
            <div class="row">
                <p ng-repeat="serviceName in serviceNames" class="col-xs-12 col-sm-6">{{serviceName}}</p>
            </div>
        </div>
    </div>
</div>
<div class="hidden-sm hidden-xs col-md-4">
    <img alt="sobre nosotros" src="/img/aboutUs.jpg" class="center-block" style="width: 100%" />
</div>